@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;800&display=swap');
html * 
{
  scrollbar-width: thin;
  scrollbar-color: #bdae82 rgb(0, 0, 0);
}
*::-webkit-scrollbar,
html *::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  transition: 0.5s ease-in-out;
}
*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
  background: #e3e3e3;
}
*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 5px;
  border: 2px solid #e3e3e3;
}
/* dark mode */
body.dark {
    background: #111218;
}
.about-me.dark {
    background: #111218;
}
.prof-skill.dark {
    background: #111218;
    color: #fff;
}
.skills-box.dark {
    box-shadow: 2px 6px 22px rgb(255 255 255 / 50%);
}
.text-container.dark {
    filter: invert(1);
}
.about-code.dark {
    background: #111218;
    color: #fff;
}
.coursestext.dark {
    background: #111218;
    color: #fff;
}
.about-container.dark {
    box-shadow: 2px 6px 22px rgb(255 255 255 / 50%)
}
.box.dark {
    box-shadow: 2px 6px 22px rgb(255 255 255 / 50%)
}
.box-blocks.dark {
    background: #111218;
}
.projects.dark {
    background: #111218;
    color: #fff;
}
.contact.dark {
    background: #111218;
    color: #fff;
}
.contact-info.dark {
    background: #f0f0f0;
    box-shadow: 2px 6px 22px rgb(255 255 255 / 50%);
    transition: 0.4s ease-in-out;
}
.contact-info.dark:hover {
    box-shadow: 0px 1px 6px #000;
}
.project.dark {
    box-shadow: 2px 3px 14px rgb(255 255 255 / 50%);
    transition: 0.4s ease-in-out;
}
.project.dark:hover {
    box-shadow: 0px 1px 6px #000;
}
.about-lang.dark {
    background: #111218;
    color: #fff;
}
.footer-icons.dark {
    background: #111218;
    color: #fff;
}
.code-example.dark {
    background: #f0f0f0;
    color: #000;
    box-shadow: 2px 6px 22px rgb(255 255 255 / 50%)
}
.back_to_top.dark {
    background: #f0f0f0;
    color: rgb(17 18 24);
}
.footer-icons.dark img {
    filter: invert(1);
}
/*  */
body {
    margin:0 auto;
    padding: 0;
    background: #e3e3e3;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 400;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
}
.container {
    max-width: 1440px;
    padding: 0px;
    margin: 0px auto ;
    box-sizing: content-box;
} 
.nav-container {
    border-radius: 0px 0px 25px 25px;
    display: flex;
    justify-content: space-evenly;
    background: #fff;
    box-shadow: 2px 2px 12px rgb(0 0 0 / 20%);
    padding: 0px 25px;
    position: relative;
    max-width: calc(80% + 2px);
    margin: 0 auto;
    display: flex;
    align-items: center;
}
header .navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
    line-height: 30px;
}
.menu-item a:hover:before {
	-webkit-transform: scaleX(1);
	-ms-transform: scaleX(1);
	transform: scaleX(1);
	-webkit-transform-origin: left;
	-ms-transform-origin: left;
	transform-origin: left;
	-webkit-transition: -webkit-transform 0.6s;
	transition: -webkit-transform 0.6s;
	-o-transition: transform 0.6s;
	transition: transform 0.6s;
	transition: transform 0.6s, -webkit-transform 0.6s;
}
.menu-item a{
    position: relative;
}
.menu-item a:before {
	content: '';
	width: 100%;
	height: 1px;
	background-color: rgb(0, 0, 0);
	position: absolute;
	left: 0; bottom: -5px;
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: right;
	-ms-transform-origin: right;
	transform-origin: right;
	-webkit-transition: -webkit-transform 0.6s;
	transition: -webkit-transform 0.6s;
	-o-transition: transform 0.6s;
	transition: transform 0.6s;
	transition: transform 0.6s, -webkit-transform 0.6s;
}
nav {
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
}
nav ul li a{
    margin: 30px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: #000;
}
nav ul li a:hover{
    color: #aaa;
}
.logo {
    color: #000;
    font-weight: 600;
}
.logo h1 {
    font-size: 23px;
    font-family: 'Rubik';
    user-select: none;
}
.burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.active {
    font-weight: bold;
    color: #000;
}
.switch_theme {
    background: url(../assets/img/dark.svg);
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.switch_theme:hover {
    background: url(../assets/img/dark-h.svg);
    background-repeat: no-repeat;
}
.switch_theme.light {
    background: url(../assets/img/sun.svg);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
}
.switch_theme.light:hover {
    background: url(../assets/img/sun-h.svg);
    background-repeat: no-repeat;
}
.text-container {
    font-family: 'League Gothic';
    font-size: 4rem;
    font-weight: 400;
    line-height: 35px;
    margin: 0;
    color: #0f0f0f;
    background: url('../assets/img/clip-bg.png') no-repeat;
    -webkit-background-clip: text;
    background-clip:text ;
    color: rgba(255, 255, 255, 0);
    text-shadow: 0 0 rgba(0, 0, 0, .1);
    background-size: 0 100%;
    animation: fill 8s infinite;
    user-select: none;
}

@keyframes fill {
    50%   { background-size: 100% 100%; }
    100%  { background-size: 0 100%;    }
  }
.title-block {
    padding: 60px 0;
}
.info {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-container {
    padding: 0px 40px;
}
.myphoto {
    height:450px;
    border: 0;
}
.text-container button{
    width: 145px;
    height: 50px;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    margin: 0px 10px;
}
/* .down-cv{
    background-color: #000;
    color: #fff;
    border: none;
}
button:active{
    transform: scale(1.1);
} */
.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}
.about-container {
    display: flex;
    align-items: center;
    width: 80%;
    height: auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    margin: -20px auto
}
.about-container img {
    height: 220px;
    border-radius: 50%;
    margin-right: 15px;
}
.about-codetext {
    padding-bottom: 2rem;
}
.code-example h2 {
    color: #6c6c6c;
    font-size: 18px;
}
.about-text {
    margin-left: 15px;
}
.about-text p:nth-child(1) {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 20px;
}
.about-text p:nth-child(2) { 
    font-size: 16px;
    line-height: 30px;
    }
.about-text button{
    align-items: center;
    width: 145px;
    height: 50px;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    margin: 0px 10px;
}
.title-me {
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 25px;
}
.prof-skill {
    background: #fff;
    display: flex;
    margin: 0 auto;
    justify-content: center;

}
.title2 {
    text-align: center;
    padding: 50px 0px;
    margin: 0 auto;
}
.skills {
    margin: 15px;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.skills li {
    margin: 10px;
    user-select: none;
}
.skills-box {
    width: 90%;
    height: 365px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 12px rgb(0 0 0 / 20%);
}
.hard-skills {
    font-family: 'Rubik';
    flex-basis: 15%;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    line-height: 1.26rem;
    color: rgb(0, 0, 0);
}
.skills-levels {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}
.level-box {
    border-radius: 15px;
    width: 100%;
    margin: 10px;
    background: rgb(9 140 255 / 0.5);
}
.level {
    text-align: right;
    color:#fff;
    position: relative;
}
.progress {
    width: 100%;
    height: 15px;
    background: rgb(211 211 211);
    border-radius: 15px;
    margin-top: 8px;
    margin-bottom: 18px;
    box-shadow: inset 2px 2px 5px rgb(154 147 140 / 50%), 1px 1px 5px rgb(255 255 255);
  }
.progress-bar {
    cursor: pointer;
    display: flex;
    height: 100%;
    background-color: #555554;
    background: #7c7c7c;
    transition: all 4s ease-in;
    border-radius: 25px;
}

.progress-bar:hover {
    transition: all 4s ease-in;
    background: linear-gradient(90deg,#ffd33d,#ea4aaa 17%,#b34bff 34%,#01feff 51%,#ffd33d 68%,#ea4aaa 85%,#b34bff);
    background-size: 300% 100%;
    animation: progress-animation 3s linear infinite;
}
.progress-bar:focus {
    transition: all 4s ease-in;
    background: linear-gradient(90deg,#ffd33d,#ea4aaa 17%,#b34bff 34%,#01feff 51%,#ffd33d 68%,#ea4aaa 85%,#b34bff);
    background-size: 300% 100%;
    animation: progress-animation 3s linear infinite;
}
  @keyframes progress-animation {
    0% {background-position: 100%}
    100% {background-position: 0}
  }

.about-code {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.code-example {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 65%;
    background: #aaaaaa2e;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 2px 2px 12px rgb(0 0 0 / 20%);
}
.code-example p:nth-child(1) {
    font-size: 22px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(170 170 170 / 40%);
    line-height: 2.7rem;
}
.code-example p:nth-child(2) {
    font-size: 18px;
    display: flex;
    justify-content: center;
    background: #ffffff6e;
    padding: 20px;
    border-radius: 10px;
    line-height: 1.8rem;
}
.coursestext {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 0;
    width: 220px;
    height: 370px;
    border-radius: 10px;
    background: #f0f0f0;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
    user-select: none;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    margin: 0px 15px 30px 0px;
}
.box:hover {
    background: #dadada;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.3);
}
.image-box {
    width: 100px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    z-index: 5;
    background: #ffffff;
    border-radius: 70px;
    border: 5px solid #282a36;
}
.box::before {
    content: '';
    position: absolute;
    height: 25%;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    background: #282a36;
}
.text-box {
    display: flex;
    padding: 10px 0;
    width: 100%;
}
.text-in-box {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin: 0px;
}
.box-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto; 
    width: 85%;
}

/*  */
.map {
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*  */
.box-blocks {
    background: #fff;
}
.box span img {
    width: 75px;
    height: 75px;
    margin: 0 auto;
}
.box.left {
    transform: translate(-50%);
}
.box h3 {
    font-family: 'Rubik';
    font-size: 24px;
    font-weight: 400;
    width: 100%;
    text-align: center;
}
.box ul{
    margin: 0;
    padding: 0;
    line-height: 1.9rem;
    color: #7a7a7a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.projects {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.project-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.project {
    width: 400px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 1px 2px 12px rgb(0 0 0 / 20%);
    background: #000000;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}
.project img {
    transition: 0.8s ease-in-out;
}
.project:hover img {
    transform: scale(1.3);
}
.project .title-project span {
    opacity: 0;
    position: absolute;
    width: 80%;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition-property: top, opacity;
    transition-property: top, opacity;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    transition: 0.5s ease-in-out;
}
.title-project span a {
    color: #fff;
}
.title-project span a:hover {
    color: #aeaeae;
}
.project:hover{
    background: rgba(0, 0, 0, 0.5);
}
.project:hover .title-project span{
    position: absolute;
    background: #000;
    padding: 25px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;  
    display: flex;
    z-index: 1;
    box-shadow: 1px 1px 12px #fff;
}
.project .title-project:hover span {
    background: rgba(0, 0, 0, 0.6) ;
    border-radius: 10px;
    box-shadow: 1px 1px 12px rgba(126, 125, 125, 0.555);
}
.image-project img {
    width: 100%;
}
.contact-education1 {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact-education2 {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.education-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.college-name {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.college-name p:nth-child(1) {
    font-size: 18px;
    font-weight: bold;
    background: #007eff;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
}
.college-name p:nth-child(2) {
    font-size: 18px;
    font-weight: 600;
}
.college-name p:nth-child(3) {
    font-size: 20px;
    line-height: 15px;
    text-align: center;
}
.contact-block {
    display: flex;
    align-items: center;
}
.contact-image {
    flex-basis: 15%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    -webkit-transition: background .5s ease;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
}
.contact-image:hover {
    opacity: 1;
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: grayscale(0);
    filter: gray;
}
.contact-text {
    justify-content: center;
    display: flex;
}
.contact {
    background: #fff;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 auto;
    padding-top: 60px;
}
.contact-title {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.contact-info {
    background: #e3e3e340;
    padding: 20px;
    width: 70%;
    height: 275px;
    border-radius: 10px;
    box-shadow: 2px 2px 12px rgb(0 0 0 / 20%);
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.contact-info a{
    color: #000;
}
.contact-info a:hover{
    color: #aaa;
}
.soc-vk{
    background: url('../assets/img/vk-icon.png');
    width: 25px;
    height: 25px;
    background-size: contain
}
.soc-insta {
    background: url('../assets/img/insta-icon.png');
    width: 25px;
    height: 25px;
    background-size: contain
}
.soc-github {
    background: url('../assets/img/github.png');
    width: 25px;
    height: 25px;
    background-size: contain
}
.soc-tg {
    background: url('../assets/img/telegram-icon.png');
    width: 25px;
    height: 25px;
    background-size: contain
}
.social-buttons {
    position: fixed;
    top:50%;
    left:0px;
    transform: translateY(-50%);
}
.social-buttons a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 0px;
    opacity: 0.6;
    line-height: 0px;
    background-color: #fff;
    border: 1px solid rgb(170 170 170 / 20%);
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}
.social-buttons a:hover{
    opacity: 1;
}
.about-lang {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}
.language {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-lang h3{
    background: #000000;
    padding: 8px;
    border-radius: 10px;
    color: #fff;
    width: 190px;
    text-align: center;
}
.about-lang ul{
    padding: 0px;
    margin: 0px;
    line-height: 1.6rem;
    list-style: disc;
}
.about-proj {
    padding: 2rem;
}
.about-proj h3{
    background: #000000;
    padding: 8px;
    border-radius: 10px;
    color: #fff;
    width: 190px;
    text-align: center;
}
.about-proj ul{
    padding: 0px;
    margin: 0px;
    line-height: 1.6rem;
    list-style: decimal;
}
.about-proj a{
    color: #000;
}
.about-proj a:hover{
    color: #aaa;
}
.sri {
    display: block;
    font-size: 15px;
    line-height: 1.1rem;
    overflow-x: auto;
    padding: 10px;
    background: rgb(40, 42, 54);
    color: rgb(248, 248, 242);
}
.footer-icons {
    display: flex;
    margin: 0 auto;
    padding: 15px 20px 10px 20px;
    border-top: 1px solid rgb(227 227 227 / 68%);
    height: 4rem;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    background: #fff;
}
.back_to_top {
    position: fixed;
    bottom: 80px;
    right: 40px;
    z-index: 9999;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    background: #000000;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 2px;
    display: none;
  }
.back_to_top:hover {
    background: #616161;
}
.back_to_top-show {
    display: block;
}
@media (max-width: 1200px) {
.text-container {
    font-size: 2.8rem;
}
.box-container {
    flex-wrap: wrap;
}
}
@media (max-width: 995px) {
.text-container {
    font-size: 2.0rem;
}
.myphoto {
    height: 300px;
}
.box-container {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 0;
    flex-wrap: wrap;
    flex: 0 1 50%;
    width: 90%;
 }
}
@media (max-width: 768px) {
.text-container p {
    font-size: 1em;
}
.logo {
    font-weight: 300;
    font-size: 8px;
}
nav {
    padding: 20px 0px;

}
.menu-show{
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0;
    transform: translateY(-100%);
    width: 100%;
    height: auto;
    background: rgb(167, 167, 167);
    user-select: none;
}
.menu-show.open {
    opacity: 1;
    top: 66px;
    left: 0;
    width: 75%;
    transform: translateY(0);
    margin: 0 auto;
    position: absolute;
    display: flex;
    align-items: center;
    background: #ffffff;
    z-index: 0;
    transition: all 0.3s ease-in-out;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 30px 25px 10px #00000038;
    z-index: 55;
}
.nav-container {
    flex-direction: row;
    align-items: center; 
}
.menu-burger {
    display: block;
    z-index: 5;
    position: relative;
    width: 40px;
    height: 25px;
    cursor: pointer;
    margin-right: 4px;
}
.menu-burger span,
.menu-burger::before,
.menu-burger::after {
    left: 0;
    position: absolute;
    width: 100%;
    height:10%;
    transition: all 0.3s ease 0s;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
}
.menu-burger::before,
.menu-burger::after {
    content: "";
}
.menu-burger::before {
    top:0;
}
.menu-burger::after {
    bottom:0;
}
.menu-burger span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
}
.menu-burger.open span {
    transform: scale(0) translate(0px, -50%);
}
.menu-burger.open::before {
    top: 50%;
    transform:rotate(-45deg) translate(0px, -50%);
}
.menu-burger.open::after {
    bottom: 50%;
    transform:rotate(45deg) translate(0px, 50%);
}

header .navigation {
    display: flex;
    justify-content: flex-start;
    margin: 10px 0;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
} 
header .navigation li {
    padding: 6px;
    font-size: 23px;
}
.info {
    width: 85%;
}
.about-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: auto;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgb(0 0 0 / 20%);
    margin: -20px auto;
}
.about-container img {
    display: none;
}
.about-text {
    width: 90%;
    margin: 0 auto;
    padding: 15px;
    line-height: 1.6rem;
}
.skills-box {
    font-size: 12px;
    padding: 5px;
}
.hard-skills {
    flex-basis: 20%;
}
.skills li {
    margin: 10px 0px 10px 0px;
}
.sri {
    font-size: 15px;
    line-height: 1.6rem;
    border-radius: 10px;
}
.box-container {
    width: 90%;
    display: flex;
    flex: 0 1 50%;
    flex-wrap: wrap;
}
.contact {
    background: #fff;
    display: flex;
    align-items: flex-start;
}
.contact-education1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact-education2 {
    display: flex;
    justify-content: center;
}
.contact-info {
    width: 60%;
}
.contact-paragraph {
    margin: 0;
    padding: 0;
}
.contact-block {
    display: flex;
    align-items: center;
}
.contact-text {
    justify-content: start;
    display: flex;
    font-size: 15px;
    margin-left: 12px;
}
.college-name p:nth-child(1) {
    font-size: 15px;
    background: #007eff;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
}
.college-name p:nth-child(2) {
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    text-align: center;
}
.college-name p:nth-child(3) {
    font-size: 13px;
    line-height: 15px;
    text-align: center;
}
.about-proj h2 {
    text-align: center;
}
.social-buttons {
    display:none;
}
.myphoto {
    height: 210px;
    border: 0;
}
}
@media (max-width: 675px) {
.menu-show.open {
    opacity: 1;
    top: 66px;
}
.about-container {
    width: 70%;
}
.skills {
    width: 85%;
}
.skills-box {
    width: 100%;
    padding: 0px;
}
.code-example {
    width: 75%;
}

.box {
    width: 235px;
    margin: 0px 0px 30px 0px;
}
.hard-skills {
    flex-basis: 25%;
}
.skills-levels {
    flex-basis: 60%;
}
.info {
    flex-direction: column;
}
.sri {
    font-size: 12px;
    line-height: 1.2rem;
    border-radius: 10px;
}
.contact {
    width: 90%;
 } 
}

@media (max-width: 565px) {
.box {
    width: 220px;
}
}

  @media (max-width: 520px) {
.logo h1 {
    font-size: 20px;
}

.box-container {
    flex: 0 1 50%;
    width: 80%;
}
.box {
    width: 220px;
}
  }

 @media (max-width: 462px) {
    .box {
        width: 200px;
    }
 } 

@media (max-width: 420px) {
.logo h1 {
    font-size: 20px;
}
.menu-show.open {
    opacity: 1;
    top: 66px;
}
.switch_theme {
    margin-left: 10px;
}
.logo {
    letter-spacing: unset;
}
.hard-skills {
    flex-basis: 45%;
}
.skills-levels {
    flex-basis: 50%;
}
.text-container {
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
}
.contact {
    background: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sri {
    font-size: 9px;
    line-height: 1.2rem;
    padding: 11px;
    border-radius: 10px;
}
.box-container {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 0;
    flex-wrap: wrap;
    flex: 0 1 50%;
    }
.contact-info {
    width: 100%;
}
.about-container {
    width: 65%;
}
.about-text {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    line-height: 1.4rem;
}
.skills {
    width: 80%;
}
.skills-box {
    width: 100%;
    font-size: 12px;
    justify-content: center;
}
.code-example {
    width: 70%;
}
.box {
    width: 280px;
}
.project {
    width: 80%;
    height: 175px;
}
}
@media (max-width: 320px) {
.menu-show.open {
    opacity: 1;
    top: 75px;
}
.switch_theme {
    height: 30px;
}
.switch_theme.light {
    height: 30px;
}
.hard-skills {
    flex-basis: 40%;
}
.skills-levels {
    flex-basis: 50%;
}
.skills-box {
    width: 100%;
    padding: 10px;
}
.code-example p:nth-child(2) {
    font-size: 14px;
}
.box {
    margin: 0px 0px 30px 0px;
    width: 85%;
}
.project {
    width: 85%;
}
}